*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f2f5;
}
h3{
    color: black;
    margin-top: 10px;
}
.left{
    position: absolute;
    left: 275px;
    top: 150px;
    display: inline-block;
}
.right{
    position: absolute;
    right: 275px;
    top: 150px;
    display: inline-block;
}
span{
    color: #1877f2;
}
.name{
    font-size: 50px;
}
.container{
    background: red;
}
.right{
    width: 400px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
}
.form-group input{
    text-align: left;
    display: block;
    width: 305px;
    height: 37px;
    padding: 8px;
    margin:22px auto;
    border-radius: 7px;
    font-size: 15px;
    border: 2px solid gray;
}
.btn{
    border: none;
    margin: 0px auto;
    display: block;
    background-color: #1877f2;
    color: white;
    width: 325px;
    height: 55px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.btn2{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    display: block;
    margin: 25px auto;
    background-color: #42b72a;
    color: white;
    cursor: pointer;
}
.btn2:hover{
    background-color: #4fa63d;
}
.form-group a{
    color: #1877f2;
    display: block;
    margin: 22px 137px;
    text-decoration: none;
    border: none;
}
